
@{
    ViewBag.Title = "Control de Accesos";
}

<h2>Control de Accesos</h2>

<p>Bienvenido al control de accesos.</p>
<p>Aqui se puede controlar toda la informacion de los accesos a los laboratorios.</p>
<p>¿Qué desea hacer?</p>

<div class="row">

    <div class="col-xl-3 col-md-6">
        <a class="nav-link" href="#">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <div class="row text-center align-items-center">
                        <div class="col-sm-9">
                            <h6>Registrar</h6>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-arrow-up fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a class="nav-link" href="#">
            <div class="card bg-danger text-white mb-4">
                <div class="card-body">
                    <div class="row text-center align-items-center">
                        <div class="col-sm-9">
                            <h6>Eliminar</h6>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-trash fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="col-xl-3 col-md-6">
        <a class="nav-link" href="#">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <div class="row text-center align-items-center">
                        <div class="col-sm-9">
                            <h6>Editar</h6>
                        </div>
                        <div class="col-sm-3">
                            <i class="fas fa-pen fa-2x"></i>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>


